* {
  box-sizing: border-box;
}

body {
  font-family: 'Kodchasan', sans-serif;
  /* https://www.w3schools.com/howto/howto_css_full_page.asp */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  white-space: nowrap;
  margin: 10px 20px;
}

.logo {
  font-family: 'Permanent Marker', cursive;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.landing-container {}

.landing-logo {
  font-size: 4em;
  width: 320px;
  margin: 200px auto 0 auto;
}

.results-logo {
  font-size: 3em;
  width: 250px;
  margin: 0 auto;
}

.result-image {
  float: left;
  margin: 5px;
  width: 300px;
  height: 150px;
}

.error {
  color: red;
}

.js-signon-container {
  margin: 10px;
}

.results-filter {
  border: 2px solid red;
  min-height: 100px;
}

.result-listing {
  border: 2px solid black;
  padding: 15px;
  margin: 10px;
  overflow-wrap: break-word;
}

.result-description {
  position: relative;
  overflow: hidden;
}

.result-description .read-more {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 30px 0;
  /* "transparent" only works here because == rgba(0,0,0,0) */
  background-image: linear-gradient(to bottom, transparent, lightgray);
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.hidden {
  display: none;
}

.small-description {
  height: 200px;
}

.large-description {
  height: auto;
}